@import '../../style/themes/index';
@import '../../style/mixins/index';

@table-prefix-cls: ~'@{ant-prefix}-table';

.@{table-prefix-cls}-wrapper {
  .clearfix;
}

.@{table-prefix-cls} {
  .reset-component;
  position: relative;

  // https://github.com/ant-design/ant-design/issues/17611
  table {
    width: 100%;
    text-align: left;
    border-radius: @table-border-radius-base @table-border-radius-base 0 0;
    border-collapse: separate;
    border-spacing: 0;
  }

  // ============================= Cell =============================
  th,
  td {
    padding: @table-padding-vertical @table-padding-horizontal;
    overflow-wrap: break-word;
  }

  // ============================ Header ============================
  thead {
    th {
      color: @table-header-color;
      font-weight: 500;
      text-align: left;
      background: @table-header-bg;
      border-bottom: @border-width-base @border-style-base @border-color-split;
      transition: background 0.3s ease;

      &[colspan] {
        text-align: center;
      }
    }

    tr:not(:last-child) > th {
      &[colspan] {
        border-bottom: 0;
      }
    }
  }

  // ============================= Body =============================
  tbody {
    td {
      border-bottom: @border-width-base @border-style-base @border-color-split;
    }
  }

  // ========================== Pagination ==========================
  &-pagination.@{ant-prefix}-pagination {
    float: right;
    margin: @padding-md 0;
  }
}
